<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>News Editor</title>
</head>
  <body>
    <form action="/admin/edit/test/" method="POST">
    <br/>URL: <input type="text" name="url" value="{{ url }}" size="80"/>
    <br/>Title: <input type="text" name="title" value="{{ title }}" size="80"/>
    For test: <input type="checkbox" name="fortest" {% if fortest %} checked {% endif %}/>
    <br/>Header:
    <br/><textarea name="httpheader" rows="3" cols="130">{{ httpheader }}</textarea>
    <br/>Encoding: {{ encoding }}, from {{ encodingSrc }}
    {% if oldContent %}<pre>{{ oldContent }}</pre>{% endif %}
    <br/>Content:
    <br/><textarea name="content" rows="10" cols="130">{{ content }}</textarea>
    <input type="submit" name="action" value="Submit" />
    </form>
    <br/>Title: {{ page.title }}
    <br/>Url: {{ page.url }}
    <br/>{% if page.published %}{{ page.published }}{% endif %}
    <br/> {{ page }}
  </body>
</html>

